<div class="w-50 mx-auto">
    {{form_start(form)}}
        {{form_widget(form)}}
        <div class="d-grid gap-2">
            <input 
                class="btn btn-primary btn-block"
                type="submit" 
                value="{{ submitButtonText|default('Create Pin') }}" 
                formnovalidate
            />
        </div>
    {{form_end(form)}}
</div>